{:tracto-prefix "https://scribabot.tk/api/v1.0/"
 :forms {:do "full"
         :zo "extrumaral"}
 :ical {:title "Calar"
        :author "Calar"
        :version "V0.1"
        :lang "RU"
        :organizer "https://calar.ru"}
 :semesters {:current :second
             :first {:start {:day 1
                             :month 9}
                     :end {:day 20
                           :month 12}}
             :second {:start {:day 6
                              :month 2}
                      :end {:day 31
                            :month 5}}}}
